/*********** NAV *************/
.nav {
  padding-left: 24px;

  &__item {
    font-size: 18px;
    line-height: 50px;
    color: $darkColor;
    display: block;
    cursor: pointer;

    &:hover, &:focus, &:active {
      color: $lightColor;
    }

    &:visited {
      color: $darkColor;
    }
  }
}
/********* NAV END ***********/
