/*********** SIZES *************/
.sizes {
  overflow: hidden;
  margin-bottom: 120px;

  .container {
    padding: 0 102px;
  }

  &__title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 17px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 64px;
  }

  &__table-wrapper {
    padding: 22px;
    background-color: $lightBgColor;
    margin: 0 auto;
    max-width: 995px;
  }

  &__table {
    //min-width: 950px;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid rgba(166, 144, 124, 0.4);
    height: 40px;

    &:last-child {
      border-bottom: 0 solid transparent;
    }
  }

  &__row-titles {
    height: 47px;
  }

  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__column1 {
    width: 21%;
    text-align: center;
    border-right: 1px solid rgba(166, 144, 124, 0.4);
  }

  &__column2 {
    width: 25%;
    border-right: 1px solid rgba(166, 144, 124, 0.4);
  }

  &__column3 {
    width: 18%;
    border-right: 1px solid rgba(166, 144, 124, 0.4);
    text-align: center;
  }

  &__column4 {
    width: 17%;
    border-right: 1px solid rgba(166, 144, 124, 0.4);
  }

  &__column5 {
    width: 19%;
  }

  &__row-content {
    .sizes__column2 {
      padding-left: 22px;
    }

    .sizes__column4 {
      padding-left: 22px;
    }

    .sizes__column5 {
      padding-left: 25px;
    }
  }

  &__table-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $lightTextColor;
  }

  &__table-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}

// max 991.9px
@media screen and (max-width: $lg) {
  .sizes {
    margin-bottom: 79px;

    .container {
      padding: 0 20px;
    }

    &__table-wrapper {
      padding: 8px 17px 8px 20px;
      max-width: 734px;
    }

    //&__table {
    //  //min-width: 697px;
    //}

    &__column1 {
      width: 20%;
    }

    &__column2 {
      width: 27%;
    }

    &__column3 {
      width: 19%;
    }

    &__column5 {
      width: 17%;
    }

    &__row-content {
      .sizes__column2 {
        padding-left: 14px;
      }
      .sizes__column2 {
        padding-left: 13px;
        text-align: left;
      }
      .sizes__column2 {
        text-align: left;
        padding-left: 13px;
      }
      .sizes__column4 {
        padding-left: 0;
      }
      .sizes__column5 {
        padding-left: 11px;
        text-align: left;
      }
    }

    &__table-title {
      font-size: 14px;
      line-height: 18px;
    }

    &__table-text {
      font-size: 16px;
    }
  }
}

// max 767.9px
@media screen and (max-width: $md) {
  .sizes {
    &__title {
      font-size: 28px;
      margin-bottom: 0;
    }

    &__subtitle {
      margin-bottom: 13px;
    }
  }
}

/********* SIZES END ***********/