- const assortmentContent = LANG.assortment;

section.assortment#assortment
    .container
        h3.assortment__title= assortmentContent.title
        .assortment__grid
            each card in assortmentContent.cards
                .assortment__card
                    h4.assortment__card-title= card.title
                    img&attributes(card.img)